plugins {
    id 'nf-schema@2.8.0'
}

params {
    from    = null
    to      = null
    subject = null
    text    = null
}

mail {
    smtp {
        host              = { try { secrets.EMAIL_HOST ?: 'localhost' } catch (_e) { 'localhost' } }()
        port              = { try { secrets.EMAIL_PORT ?: '25' } catch (_e) { '25' } }()
        user              = { try { secrets.EMAIL_USER } catch (_e) { null } }()
        password          = { try { secrets.EMAIL_PASSWORD } catch (_e) { null } }()
        auth              = { try { secrets.EMAIL_USER && secrets.EMAIL_PASSWORD } catch (_e) { false } }()
        starttls.enable   = { try { secrets.EMAIL_PORT ? secrets.EMAIL_PORT != '25' : false } catch (_e) { false } }()
        starttls.required = { try { secrets.EMAIL_PORT ? secrets.EMAIL_PORT != '25' : false } catch (_e) { false } }()
        ssl.protocols     = 'TLSv1.2 TLSv1.3'
        connectiontimeout = 5000
        timeout           = 5000
        writetimeout      = 5000
    }
}
