plugins {
    id 'nf-schema@2.8.0'
}

params {
    from    = null
    to      = null
    subject = null
    text    = null
}

mail {
    smtp {
        host              = secrets.EMAIL_HOST ? "${secrets.EMAIL_HOST}" : 'localhost'
        port              = secrets.EMAIL_PORT ? "${secrets.EMAIL_PORT}" : '25'
        user              = secrets.EMAIL_USER ? "${secrets.EMAIL_USER}" : null
        password          = secrets.EMAIL_PASSWORD ? "${secrets.EMAIL_PASSWORD}" : null
        auth              = secrets.EMAIL_USER && secrets.EMAIL_PASSWORD
        starttls.enable   = secrets.EMAIL_PORT ? secrets.EMAIL_PORT != '25' : false
        starttls.required = secrets.EMAIL_PORT ? secrets.EMAIL_PORT != '25' : false
        ssl.protocols     = 'TLSv1.2 TLSv1.3'
        connectiontimeout = 5000
        timeout           = 5000
        writetimeout      = 5000
    }
}
